$color0: #800000;
$color1: #4D0000;
$color2: #290000;
$color3: #222222;
$color4: #FFCC00;
$color5: #ffffff;

/* Coolors Exported Palette - coolors.co/800000-290000-222222-ffffff-e56399 */

@mixin background-color($rgb, $alpha) {
    background: rgba($rgb, $alpha);
}

@mixin box-shadow($args) {
    box-shadow: $args;
    -moz-box-shadow: $args;
    -webkit-box-shadow: $args;
}

#content {
    @include box-shadow(0 0 12px 2px $color3);
    border: 1px solid #000;
}

#hero {
    background: 
        linear-gradient(rgba($color3, 0.25), rgba($color3, 0.25)),
        url(../images/header-min.jpg) center center no-repeat;
}

#top-nav {
    @include background-color($color2, 0.7);
}

#top-heading {
    text-shadow: 2px 2px 5px #000;
}


#nav, 
#hero-nav {

    & ul li {
        background-color: inherit;
        padding-left: 10px;
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
            background-color: $color4;
        }
    }
}

#primary-menu {
    @include box-shadow(0 8px 6px -6px #000000);
}

.hamburger-inner {
    background-color: $color5;
    &::before, &::after {
        @extend .hamburger-inner;
    }
}

.uk-active {
    padding: inherit;
}

.uk-button-primary {
    @include background-color($color0, 0.95);
    &:hover {
        @include background-color($color1, 0.95);
    }
}


.uk-notification {
    border: 1px solid #000;

    @media (min-width: 1200px) {   
        width: 30%;
        margin: auto;
    }

    &-message-primary {
        color: $color4;
    }
}

.uk-section-primary {
    background-color: $color1;
}