$color0: #800000;
$color1: #4D0000;
$color2: #290000;
$color3: #222222;
$color4: #FFCC00;
$color5: #ffffff;

/* Coolors Exported Palette - coolors.co/800000-290000-222222-ffffff-e56399 */

@mixin background-color($rgb, $alpha) {
    background: rgba($rgb, $alpha);
}

#top-nav {
    @include background-color($color2, 0.5);
}

#top-heading {
    @include background-color($color2, 0.5);
    text-shadow: 2px 2px 5px #000;
}

.hamburger-inner {
    background-color: $color5;
    &::before, &::after {
        @extend .hamburger-inner;
    }
}

#nav, 
#hero-nav {

    & ul li {
        background-color: inherit;
        padding-left: 10px;
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
            background-color: $color4;
        }
    }
}

.uk-active {
    padding: inherit;
}

.uk-section-primary {
    background-color: $color1;
}